<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/1.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section class="vh-100 gradient-custom">
        <% for(let i=0; i<semesterData.length; i++){ %>
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <table class="table">
                        <thead class="text-white text-center">
                            <tr>
                              <th scope="col">Semester</th>
                              <th scope="col">Course 1</th>
                              <th scope="col">Course 2</th>
                              <th scope="col">Course 3</th>
                              <th scope="col">Course 4</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            
                              <tr class="table-dark">
                                <td scope="row"><li class="list-unstyled"><%=semesterData[i].semester%></td>
                                <td class="text-end"><%=semesterData[i].course1_code%></td>
                                <td class="text-end"><%=semesterData[i].course2_code%></td>
                                <td class="text-end"><%=semesterData[i].course3_code%></td>
                                <td class="text-end"><%=semesterData[i].course4_code%></td>
                              </tr>
                            
                        </tbody>

                      </table>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>